html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}

header, main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

header{
    align-items: center;
}

header > *, main > *{
    flex: 1;
    width: 3em;
    text-align: center;
}

canvas{
    display: none;
}

#start-ml{
    max-height: 30px;
}